[Unit]
Description=Checks For Known Vunerabilities
After=network.target

[Service]
Type=simple
# START: LOCATION OF EXECSTART
ExecStart=/home/chris/Greyrose/linux/venv/bin/python3 /usr/local/bin/tracker.py
# END: LOCATION OF EXECSTART
WorkingDirectory=/usr/local/bin
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target